/* Add this to your CSS file (task-lists.component.css) */
.card-footer {
    background-color: rgb(70, 70, 70) !important;
    color: white !important;
  }
  
  button {
    margin-right: 10px;  /* Adds more margin between buttons */
  }
  
  